body {
  font-family: Arial, sans-serif;
  margin: 2em;
  background-color: #f9f9f9;
  color: #444444; /* vorher: #333
}

h1 {
  color: #0066cc;
}

a {
  color: #0066cc;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}
